<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Bumps</th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
    <tr>
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{bumps}}</td>
    </tr>
    {{/each}}   
  </tbody>
</table>
