<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Prometna infrastruktura</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="zajete_slike/list.hbs">Zajete slike</a></li>
      <li><a href="#">Pregled podatkov</a></li>
    </ul>
  </div>
</nav>